<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188635920689-0ihpn9cpd4av6maajp46iqcbgvudn85i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188635920689-0ihpn9cpd4av6maajp46iqcbgvudn85i</string>
	<key>API_KEY</key>
	<!-- <string>AIzaSyBXoshvDp5XmHMJA3COMHgA5qEP486SB7c</string> -->
	<key>GCM_SENDER_ID</key>
	<string>188635920689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nishat.hotel</string>
	<key>PROJECT_ID</key>
	<string>nishat-hotel-eb7f5</string>
	<key>STORAGE_BUCKET</key>
	<string>nishat-hotel-eb7f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188635920689:ios:056cf75378796a1122d810</string>
</dict>
</plist>